<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Full House</title>
	<link rel="stylesheet" href="../static/css/estilos.css">
	
</head>
<body>
	<!-- Header -->
	<header class="Header">
		<nav Class="HeaderNav">
			<img class="HeaderImage"src="../static/img/logo.png" alt="">
			<ul class="MainMenu">
				<li class="MainMenu-list"><a class="MainMenu-link" href="#">Inicio</a></li>
				<li class="MainMenu-list"><a class="MainMenu-link" href="#">Servicio</a></li>
				<li class="MainMenu-list"><a class="MainMenu-link" href="#">Demo</a></li>
				<li class="MainMenu-list"><a class="MainMenu-link" href="#">Contacto</a></li>
				<li class="MainMenu-list"><a class="MainMenu-link" href="#">log</a></li>
			</ul>
		</nav>
	</header>
	<!-- landing -->
	<section class="Landing">
		<ul class="Landing-social">
			<li class="LandingList"><a class="Landing-link" href="#">f</a></li>
			<li class="LandingList"><a class="Landing-link" href="#">t</a></li>
			<li class="LandingList"><a class="Landing-link" href="#">g</a></li>
		</ul>
		<h1 class="TitleFh">Sistema de Gestion Hotelera </h1>
		<p class="TitleFh-description">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore itaque repellendus harum quibusdam magni veritatis sit maxime corrupti vitae rerum, excepturi, culpa labore, fugit accusamus fugiat officiis vel praesentium ipsa.</p>
		<p class="LandingLink-item"><span class="LandingButton"><a href="">Version de Prueba</a></span></p>
	</section>
	<!-- descripcion del servicio -->
	<section class="Description">
		<p class="Description-Text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt eveniet minima tempore non temporibus repellat quos natus aut veniam inventore eum perspiciatis, quasi nihil, consequatur accusantium in, commodi ullam ipsum.</p>
		<img class="Description-image" src="../static/img/img1.jpg" alt="">
	</section>
	<!-- video demo -->
	<section class="Video"> 
		<video class="Video-item" src="https://www.youtube.com/watch?v=InKZOPylUSQ"></video>
		<ul class="Customers">
			<li class="Customers-list"><a class="Customers-link" href="#">Empresa 1</a></li>
			<li class="Customers-list"><a class="Customers-link" href="#">Empresa 2</a></li>
			<li class="Customers-list"><a class="Customers-link" href="#">Empresa 3</a></li>
			<li class="Customers-list"><a class="Customers-link" href="#">Empresa 4</a></li>
			<li class="Customers-list"><a class="Customers-link" href="#">Empresa 5</a></li>
		</ul>
	</section>
	<!-- footer -->
	<footer class="Footer">
		<h4 class="Suscription">Suscribete</h4>
		<ul class="FooterSocial">
			<li class="FooterSocial-list"><a class="FooterSocial-link" href="#">f</a></li>
			<li class="FooterSocial-list"><a class="FooterSocial-link" href="#">t</a></li>
			<li class="FooterSocial-list"><a class="FooterSocial-link" href="#">g</a></li>
		</ul>
		<p class="Copy">By TSD 2015</p>
	</footer>
</body>
</html>